* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #2c3e50;
}

#wrap {
  margin: 0 auto 30px;
}

#regbar {
  height: 67px;
  background: #34495e;
}

#navthing {
  margin-left: 50px;
}

h2 {
  padding: 20px;
  color: #ecf0f1;
}

fieldset {
  border: none;
}

.center {
  text-align: center;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.login {
  position: relative;
  width: 350px;
  display: none;
}

.register {
  position: relative;
  right: -105px;
  width: 350px;
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"], .formholder input[type="text"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #1abc9c;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #1bc6a4;
}

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}

    .green-font {
        color: #0AF90A;
    }
    .red-font {
        color: red;
    }
    .tournament {
        background-image: url("basketball.jpg");
        background-size: cover;
        color: white;
        font-weight: bold;
    }
    main {
  display:flex;
  flex-direction:row;
}
.round {
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:100%;
  list-style:none;
  padding:0;
}
.champion-line, .final-round {
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .game-spacer, .game-spacer-two, .spacer {
    flex-grow:1;
}

li.game {
  padding-left: 20px;
}

li.champion {
  text-align: center;
}

li.game-two {
  padding-right: 20px;
}

li.game span {
    float:right;
    margin-right:5px;
}

li.game-two span {
    float:right;
    margin-right:5px;
}

li.game-top { 
    border-bottom:3px solid #fff; 
    cursor: pointer;
}

li.game-spacer { 
    border-right:3px solid #fff;
    min-height:40px;
}

li.four-game-spacer { 
    border-right:3px solid #fff;
    min-height:70px;
}

li.four-game-spacer-two { 
    border-left:3px solid #fff;
    min-height:70px;
}

li.game-spacer-two { 
    border-left:3px solid #fff;
    min-height:40px;
}

li.game-bottom { 
    border-top:3px solid #fff;
    cursor: pointer;
}
